<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %thread %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.data.repository.config" level="INFO"/>

    <logger name="org.codefilarete.stalactite.sql.statement" level="TRACE"/>

<!--    <logger name="org.codefilarete.stalactite" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>